<span
  class="fixed-top bg-success px-1 d-table shadow rounded d-block d-md-none"
  data-bs-toggle="offcanvas"
  href="#offcanvasExample"
  role="button"
  style="top: 20%"
>
  <i class="bi bi-list text-white font-bold" style="font-size: 24px"></i>
</span>
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  style="--bs-offcanvas-width: 250px"
>
  <div class="offcanvas-header justify-content-end">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body d-flex flex-column">
    <%- include('./sideBarMenu');-%>
  </div>
</div>
