<div class="container-fluid bg-body-secondary fixed-top py-3 d-block d-lg-none">
  <span
    class="bg-success px-1 d-block"
    data-bs-toggle="offcanvas"
    href="#offcanvasExample"
    role="button"
    style="width: 32px"
  >
    <i class="bi bi-list text-white font-bold" style="font-size: 24px"></i>
  </span>
</div>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
  style="--bs-offcanvas-width: 250px"
>
  <div class="offcanvas-header justify-content-end">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body d-flex flex-column">
    <%- include('./sideBarMenu');-%>
  </div>
</div>
