// BS 5 Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";

@mixin logo($background-image) {
  background-image: url($background-image);
  background-repeat: no-repeat;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@import "bootstrap/scss/mixins";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/transitions";

// Components
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/close";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/card";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
$utilities: map-merge(
  $utilities,
  (
    "background-position": (
      property: background-position,
      class: bg-p,
      values: center,
    ),
    "background-repeat": (
      property: background-repeat,
      class: bg-rp,
      values: no-repeat,
    ),
    "background-size": (
      property: background-size,
      class: bg-s,
      values: cover,
    ),
    "rounded-top": (
      property: border-top-left-radius border-top-right-radius,
      class: rounded-top,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: var(--#{$prefix}border-radius),
        3: var(--#{$prefix}border-radius-lg),
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-xxl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
        custom: 2px,
      ),
    ),
    "rounded-end": (
      property: border-bottom-left-radius border-bottom-right-radius,
      class: rounded-end,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: var(--#{$prefix}border-radius),
        3: var(--#{$prefix}border-radius-lg),
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-xxl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
        custom: 2px,
      ),
    ),
    "text-gray": (
      property: color,
      class: text-gray,
      values: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900,
      ),
    ),
    "width": (
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        95: 95%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";

// custom class
.logo {
  @include logo(
    "https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg"
  );
}

// icon
@import "bootstrap-icons/font/bootstrap-icons.css";

.active {
  @extend .border;
  @extend .border-success;
  @extend .border-5;
  @extend .border-top-0;
  @extend .border-end-0;
  @extend .border-bottom-0;
  @extend .py-1;
  @extend .text-success;
  @extend .px-4;
}
