<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-top-custom rounded-end-custom">
      <div class="modal-body p-4">
        <div class="d-flex align-items-stretch">
          <div class="flex-shrink-0 me-3">
            <div class="admin-deatil" style="width: 141px; height: 141px"></div>
          </div>
          <div class="flex-grow-1 ms-3">
            <div class="d-flex justify-content-between">
              <span class="fs-6 fw-bold mb-2">#1</span>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="mb-2">
              <p class="fs-6 mb-0">Admin</p>
              <p class="fs-5 mb-0">Emir Wicks</p>
              <small class="text-gray-600 mb-0">emir.wicks@mail.com</small>
            </div>
            <div class="d-flex justify-content-between">
              <small
                class="bg-light-subtle px-2 py-1"
                style="width: 48px; height: 17px"
                >Verified</small
              >
              <i
                class="bi bi-chevron-down text-success fw-bold text-end cursor-pointer"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              ></i>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="d-flex justify-content-between mt-4">
                <button
                  type="button"
                  class="btn btn-outline-danger rounded-top-custom rounded-end-custom me-3 py-2 px-4 fs-6 fw-bold"
                >
                  Deactivate
                </button>
                <button
                  type="button"
                  class="btn btn-success rounded-top-custom rounded-end-custom py-2 px-4 fs-6 fw-bold"
                >
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
