<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-2 bg-body-tertiary vh-100 container-fluid d-none d-md-block d-md-flex align-content-center flex-column py-5 gx-5"
        >
          <%- include('./layout/sideBarMenu');-%>
          </div>
          <div class="col-10">789</div>
        </div>     
      </div>
    </div>
    <!-- 手機版導覽列 -->
    <%- include('./layout/sideBarMenuForMobile'); -%>
    <!-- <%- include('./layout/header'); -%>
    <%- include('./layout/footer'); -%> -->

    <script type="module" src="../main.js"></script>
  </body>
</html>
