<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <div class="container-fluid gx-0 vh-100">
      <div class="d-flex h-100">
        <div style="width: 296px"><%- include('./layout/sideBarMenu');-%></div>
        <div class="container-lg">
          <div class="py-2 py-lg-4 d-flex justify-content-between">
            <div class="d-flex align-items-end">
              <h4 class="fw-bold me-5 mb-0">Index</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 手機版導覽列 -->
    <%- include('./layout/sideBarMenuForMobile'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
